@{
    ViewBag.Title = "Fishing Journal";
}

<div style="text-align:center; font-size:x-large; margin-top:-95px; font-style:italic">
    
    <h2>@ViewBag.Title</h2>  

    <p>Welcome to the fishing journal! This is a very simple journal to use.</p>
    <p>On your home page you will see 3 picture links as well as links in nav bar.</p>
    <p>Journal is where you will log your individual trips.</p>
    <p>Tackle Box is where you will add your lure's and baits.</p>
    <p>Species is where you will add different fish species for your jorunal entries.</p>
    <p>Go catch'em !!'</p>
</div>
