@{
    ViewBag.Title = "Home Page";
}


    <a href="~/Views/Home/Index.cshtml"> <img src="~/Content/Bass.png" /></a>    


<div class="row">
    <div class="col-md-4">
        <h2>Journal</h2>
        <script>
            var boxSound = new Audio();
            boxSound.src = "D:\ElevenFiftyProjects\FishingJournal\FishingJournal\FishingJournal\Content\BoxSound.mp3";
        </script>
        <a href="#" onclick="boxSound.play()">Testing</a>
        <a href="https://localhost:44334/Entry" onclick="boxSound.play()"> <img src="~/Content/Journal.png"/></a>
    </div>
    <div class="col-md-4">
        <h2>Tackle Box</h2>        
        <p><a href="https://localhost:44334/LuresOrBait"> <img src="~/Content/TackleBox2.png" /></a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Fish </h2>        
        <p><a href="https://localhost:44334/LuresOrBait"> <img src="~/Content/Fish.png" /></a></p>
    </div>    
</div>