@{
    ViewBag.Title = "Home Page";
}


    <a href="~/Views/Home/Index.cshtml"> <img src="~/Content/Bass.png" /></a>    


<div class="row">
    <div class="col-md-4">
        <h2>Journal</h2>
        <p>
           
        </p>
        <p><a href="https://localhost:44334/Entry"> <img src="~/Content/Journal.png" /></a> </p>
    </div>
    <div class="col-md-4">
        <h2>Tackle Box</h2>        
        <p><a href="https://localhost:44334/LuresOrBait"> <img src="~/Content/TackleBox2.png" /></a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Fish </h2>        
        <p><a href="https://localhost:44334/LuresOrBait"> <img src="~/Content/Fish.png" /></a></p>
    </div>    
</div>