@{
    ViewBag.Title = "Home Page";
}


    <a href="~/Views/Home/Index.cshtml"> <img src="~/Content/Bass.png" /></a>    


<div class="row">
    <div class="col-md-4">
        <h2>Journal</h2>     
        <a href="https://localhost:44334/Entry" style="margin: 7px"> <img src="~/Content/Journal.png"/></a>
    </div>
    <div class="col-md-4">
        <h2>Tackle Box</h2>        
        <p><a href="https://localhost:44334/LuresOrBait" style="margin:7px"> <img src="~/Content/TackleBox2.png" /></a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Fish </h2>        
        <p><a href="https://localhost:44334/LuresOrBait" style="margin:7px"> <img src="~/Content/Fish.png" /></a></p>
    </div>    
</div>