@{
    ViewBag.Title = "Home Page";
}



<div class="row-no-gutters" style="margin-top:-160px; border-bottom:none">
    <div class="col-md-6">
        <h2>Journal</h2>
        <a href="https://localhost:44334/Entry"> <img src="~/Content/Journal.png" /></a>
    </div>
    <div class="col-md-6">
        <h2>Tackle Box</h2>
        <p><a href="https://localhost:44334/LuresOrBait"> <img src="~/Content/TackleBox2.png" /></a></p>
    </div>
    <div class="col-md-offset-3">
        <h2>Add Species</h2>
        <p><a href="https://localhost:44334/Fish"> <img src="~/Content/Fish.png" /></a></p>
    </div>
</div>
